@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #212121;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: auto;
    padding-right: auto;
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .title {
    display: block;
  }
}

.bottom-padding {
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.black-logo {
  color: #212121;
}

.white-logo {
  color: #ffffff;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .link {
    position: relative;
  }
}

.address-link {
  color: #757575;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover .svg-envelope,
.address-link:focus .svg-envelope,
.address-link:hover .svg-telephone,
.address-link:focus .svg-telephone {
  color: #2196f3;
  fill: #2196f3;
}

.head-link {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::before {
  content: "";
  display: block;
  bottom: -8px;
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current::before {
    bottom: 0;
  }
}

.link-primary {
  color: #212121;
}

.link-secondary {
  color: #2196f3;
}

.link-secondary::before {
  content: "";
  display: block;
  bottom: -8px;
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link-secondary::before {
    bottom: 0;
  }
}

.svg-envelope {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-telephone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* align-items: center;
  justify-content: center; */
}

.svg-icon:nth-child(1) {
  width: 12px;
  height: 12px;
}

.svg-icon:nth-child(2) {
  width: 13px;
  height: 13px;
}

.svg-icon:nth-child(3) {
  width: 15px;
  height: 12px;
}

.svg-modal {
  width: 18px;
  height: 18px;
}

.btn {
  background-color: #2196f3;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 130px;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font: inherit;
  line-height: 1.87;
}

.btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-modal {
  margin-top: 30px;
  /* margin-left: 0 auto; */
  /* margin-right: 98px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 55px;
  width: 200px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  font: inherit;
  line-height: 1.87;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .social-icons-svg, .social-icons-link:hover,
.social-icons-link:focus .social-icons-svg, .social-icons-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-footer:hover .social-icons-svg, .social-icons-link-footer:hover,
.social-icons-link-footer:focus .social-icons-svg, .social-icons-link-footer:focus {
  background-color: #2196f3;
}

.social-icons-svg-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*когда бекдроп спрятан - для js */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* модалка спрятана - для js */
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.label-name {
  display: block;
  margin-top: 12px;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

/* когда показано */
.modal {
  position: absolute;
  position: relative;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 609px;
  width: 450px;
  /* padding: 15px; */
  background-color: #fff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
    top: 50%;
    left: 50%;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-info {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.09;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-svg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-form {
  position: relative;
  display: block;
  width: 100%;
  height: 41px;
  margin-top: 4px;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  text-align: left;
  color: #757575;
  outline: none;
}

.input-form:focus, .input-form:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input-form:focus + .svg-icon,
.input-form:hover + .svg-icon {
  fill: #2196f3;
}

.request-form {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
}

.form_comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  text-align: left;
  color: #757575;
  outline: none;
}

.form_comment:hover, .form_comment:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  padding-right: 52px;
  border: transparent;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
  padding: 3px;
  background-image: url(../images/icons/vector.svg);
  background-position: center;
  background-size: contain;
  /* background-origin: border-box; */
}

.icon {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.acceptation {
  /* display: inline-block; */
  padding-right: 51px;
  margin-left: 9px;
}

.label-accept {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.accept-span {
  color: #2196f3;
  text-decoration: underline;
}

.acceptation-form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  text-align: center;
  font-size: 20px;
  padding-left: 88px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    padding-left: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 480px;
    height: 393px;
    z-index: 10;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.svg-menu {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-menu:hover {
  fill: #2196f3;
}

.svg-menu:focus {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* только первый */
  /* всем кроме последнего */
}

@media screen and (max-width: 767px) {
  .site-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav .item:first-child {
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .site-nav .item:first-child {
    margin-top: 60px;
  }
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .site-nav .item:not(:last-child) {
    margin: 0;
  }
}

.site-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav .item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  /* всем кроме первого  */
}

@media screen and (max-width: 767px) {
  .contacts-nav {
    padding-top: 20px;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .contacts-nav .item + .item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav .item + .item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav .item + .item {
    margin-left: 50px;
  }
}

.contacts-nav .svg-envelope {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .svg-telephone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 16px;
  margin-right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-nav .svg-telephone {
    margin-right: 10px;
  }
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tablet-nav {
    display: none;
  }
}

.hero {
  width: 480px;
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-width: 1200px) {
  .hero {
    width: 100%;
  }
}

.hero-bg {
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/bg.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 480px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/bg2@x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/bg2@x.png);
  }
}

@media screen and (min-width: 481px) {
  .hero-bg {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-bg {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/bg.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/bg.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/bg2@x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/bg2@x.png);
  }
}

@media (min-width: 1200px) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/bg.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/bg.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/bg2@x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/bg2@x.png);
  }
}

.hero-title {
  font-weight: 900;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .hero-title {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 26px;
    line-height: 1.6;
  }
}

@media (min-width: 768px) {
  .hero-title {
    padding-left: 204px;
    padding-right: 204px;
    font-size: 26px;
    line-height: 1.6;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    padding-left: auto;
    padding-right: auto;
    font-size: 44px;
    line-height: 1.36;
  }
}

.header {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.header--studio {
  border: 1px solid #eeeeee;
}

/* Преимущества */
.feature {
  margin-bottom: 30px;
}

.feature-list {
  display: block;
}

@media (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.feature-svg {
  width: 70px;
  height: 70px;
}

@media (min-width: 480px) {
  .feature-list .item {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .feature-list .item {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .feature-list .item {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .feature-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.feature-list .item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .feature-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/* Portfolio */
@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .item {
  position: relative;
}

.portfolio .item:not(:last-child) {
  margin-right: 30px;
}

.thumb > .label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 80px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  color: #ffffff;
}

/* Team */
.team {
  padding-top: 60px;
  padding-left: auto;
  padding-right: auto;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team .description {
  width: auto;
  margin-bottom: 16px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #212121;
  background-color: #ffffff;
  font-weight: normal;
  color: #757575;
}

.background-team {
  background-color: #f5f4fa;
  width: 480px;
}

@media screen and (min-width: 481px) {
  .background-team {
    width: 100%;
  }
}

.team-padding {
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}

@media (min-width: 768px) {
  .team-padding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .team-padding {
    padding-bottom: 50px;
  }
}

.team-item {
  width: 450px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .team-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.team-name {
  margin-top: 30px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients .item:not(:last-child) {
    margin-right: 30px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .clients .item:not(:nth-child(2n)) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients .item:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.clients-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  height: 90px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .clients-box {
    width: 170px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-box {
    width: 226px;
  }
}

@media screen and (max-width: 767px) {
  .clients-box {
    width: 210px;
  }
}

.clients-box:hover, .clients-box:focus {
  border: 1px solid #2196f3;
}

.clients-box:hover .clients-svg, .clients-box:focus.clients-svg {
  fill: #2196f3;
}

.clients-svg {
  fill: #afb1b8;
  min-width: 45px;
  height: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  width: 480px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 481px) {
  .footer {
    width: 100%;
  }
}

.padding-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: #ffffff;
  text-decoration: none;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address .item:first-child {
  margin-top: 20px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.flex-footer {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1199px) {
  .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.div-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.addresses {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .addresses {
    width: 232px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .subscription {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 93px;
  }
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .subscription-form {
    display: block;
  }
}

.mail-subscription {
  width: 450px;
  height: 50px;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: rgba(255, 255, 255, 0.3);
}

@media (min-width: 1200px) {
  .mail-subscription {
    width: 358px;
  }
}

.btn-subscription {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  text-align: left;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .btn-subscription {
    margin-left: 12px;
    margin-top: 0;
    margin-right: 0;
  }
}

.btn-sub-span {
  padding-left: 29px;
}

.sub-btn-svg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.svg-btn {
  width: 23px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 150px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .svg-btn {
    margin-left: 10px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 767px) {
  .join-us {
    display: block;
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    display: block;
    text-align: center;
    padding-left: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 70px;
    width: 206px;
  }
}

.join-section {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .join-section {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */