// acceptation
.acceptation {
  /* display: inline-block; */
  padding-right: 51px;
  margin-left: 9px;
}

.label-accept {
  color: $primary-text-gray;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.accept-span {
  color: $text-accent;
  text-decoration: underline;
}

.acceptation-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
