/* когда показано */
.modal {
  position: absolute;
  position: relative;
  // position: fixed;

  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  height: 609px;

  /* padding: 15px; */

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // @media screen and(max-width:479px) {
  //   top: 65%;
  // }

  @media screen and(max-width: 767px) {
    top: 65%;
  }

  @media screen and(min-width:768px) {
    top: 84%;
  }

  @media screen and(max-width:1199px) {
    max-width: 450px;
  }

  @media screen and(min-width:1200px) {
    height: 581px;
    width: 528px;
    top: 70%;
    // left: 50%;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  margin-right: 8px;

  width: 30px;
  height: 30px;

  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-info {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.09;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-black;
}
