// Студия и портфолио
$primary-text-black: #212121;
$primary-text-gray: #757575;
$text-accent: #2196f3;
$white: #ffffff;
// --address-footer: rgba(255, 255, 255, 0.6);
$background-hero: #2f303a;
$background-team: #f5f4fa;
$icon-color: #afb1b8;
$section-border: #eeeeee;
