/* Footer */
.footer {
  background-color: $background-hero;

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.padding-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: $white;
  text-decoration: none;

  .item:not(:last-child) {
    margin-bottom: 9px;
  }

  .item:first-child {
    margin-top: 20px;
  }
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.flex-footer {
  display: block;
  padding-right: 124px;
  padding-left: 124px;

  @media screen and(min-width:1199px) {
    display: flex;
  }

  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-right: 76px;
  }
}

.div-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
