.main-nav {
  @include for-size(tablet) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: block;
  align-items: center;

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
  }

  /* только первый */
  .item:first-child {
    margin-right: 93px;
  }

  /* всем кроме последнего */
  .item:not(:last-child) {
    margin-right: 50px;
  }

  .item {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }

  .item:not(:first-child) {
    @media screen and(max-width:767px) {
      display: none;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.contacts-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  @media screen and(min-width:768px) and(max-width:1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: left;
  }
  /* всем кроме первого  */

  @media screen and(min-width:1200px) {
    .item + .item {
      margin-left: 50px;
    }
  }

  .item {
    @media screen and(max-width:767px) {
      display: none;
    }
  }

  .svg-envelope {
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 12px;
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .svg-telephone {
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 16px;
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
