/*Услуги*/
.services {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.options {
  display: flex;
  padding-left: auto;
  padding-right: auto;

  margin-bottom: 34px;
  align-items: center;
  justify-content: center;

  .item:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and(max-width:399px) {
    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4) {
      margin-bottom: 15px;
    }
  }

  @media screen and(max-width:479px) {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;

    .item:nth-child(4n),
    .item:nth-child(5n) {
      margin-top: 0;
    }
  }

  @media screen and(min-width:400px) and(max-width:767px) {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;

    .item:nth-child(4n),
    .item:nth-child(5n) {
      margin-top: 15px;
    }
  }
}

.options-button {
  display: inline-flex;
  color: $primary-text-black;
  background-color: $background-team;
  text-align: center;
  align-items: center;
  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white;
    background-color: $text-accent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
