// subscription
.subscription {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 93px;

  @media screen and(max-width:767px) {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription-form {
  display: flex;

  @media screen and(max-width:767px) {
    display: block;
  }
}

.mail-subscription {
  width: 450px;
  height: 50px;
  padding-left: 15px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  outline: rgba(255, 255, 255, 0.3);

  @include for-size(desktop) {
    width: 358px;
  }
}

.btn-subscription {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  text-align: left;

  color: $white;
  background-color: $text-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(desktop) {
    margin-left: 12px;
    margin-top: 0;
    margin-right: 0;
  }
}

.btn-sub-span {
  padding-left: 29px;
}

.sub-btn-svg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 150px;

  transform: translateY(-50%);

  @include for-size(desktop) {
    margin-left: 10px;
    margin-right: 28px;
  }
}
